/* _sass/color_schemes/nord_theme.scss */

// 1. Define Nord Colors
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
// $nord4: #2c60bf;
$nord6: #eceff4;
// $nord8: #88c0d0;
$nord8: #cf6713;

// 2. Map to Theme Variables
$body-background-color: $nord0;
$sidebar-color: $nord1;
$search-background-color: $nord2;
$table-header-background-color: $nord2;
$code-background-color: $nord1;

$body-text-color: $nord4;
$body-heading-color: $nord6;
$nav-text-color: $nord4;
$link-color: $nord8;

$border-color: $nord2;

